@{
    ViewData["Title"] = "Home Page";
}
<environment include="Development">
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</environment>
<style>
    #map {
        width: 100%;
        height: 700px;
        margin: 0 !important;
        padding: 0;
    }

    .body-content {
        width: 100%;
        margin: 0 !important;
    }
    #newPointForm {
        width: 20%;
        
        padding: 0;
        position: fixed;
        z-index: 3;
        visibility: hidden;
        float: left;
        margin: 30% 40%;
        background-color: aqua;
    }
    .newPointFormInput {
        width: 100%;
    }
    .coordinatesBlock{
        display: none;
    }
    .formClass{
        
    }
    #rightPanel {
        background-color: aqua;
        float: right;
        position: relative;
        height: -webkit-fill-available;
        width: 20%;
        padding: 10px;
        visibility:hidden;
        z-index: 10;
    }
</style>
<script>
    function sendToAsp()
    {
        var result = {
            XCoordinate: document.getElementById("XCoordinate").innerText,
            YCoordinate: document.getElementById("YCoordinate").innerText,
            HintContent: document.getElementById("Content").value,
            GeometryType : "Point",
            Options : "islands#blueSportCircleIcon",
            BalloonContent: document.getElementById("Content").value,
            ClusterCaption : "Еще одна метка",
            Type : "Feature"
        }

        var objectDataString = JSON.stringify(result);

        $.ajax({
            type: "POST",
            url: "Home/SendToAsp",
            dataType: "json",
            data: { jsn : objectDataString },
            success: function (data) {
                alert('Success');
            }
        });
    }
    document.getElementById("createPoint").onclick(function () {
        document.getElementById("newPointForm").style.visibility = "hidden";
    }
    );
</script>
<div id="map">
    <form onsubmit="sendToAsp()" id="newPointForm">
        <div id="XCoordinate" class="coordinatesBlock"></div>
        <div id="YCoordinate" class="coordinatesBlock"></div>
        <input type="text" id="Content"  class="newPointFormInput formClass"/>
        <input type="submit" value="Send" id="createPoint" class="formClass"/>
    </form>
    <div id="rightPanel">
    </div>
</div>
