@{
    ViewData["Title"] = "Home Page";
}
<environment include="Development">
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</environment>
<style>
    #map {
        width: 100%;
        height: 700px;
        margin: 0 !important;
        padding: 0;
    }

    .body-content {
        width: 100%;
        margin: 0 !important;
    }
    #newPointForm {
        width: 20%;
        
        padding: 0;
        position: fixed;
        z-index: 3;
        visibility: hidden;
        float: left;
        margin: 30% 40%;
        background-color: aqua;
    }
    .newPointFormInput {
        width: 100%;
    }
    .coordinatesBlock{
        display: none;
    }
    .formClass{
        
    }
    .figIco {
        text-align: center;
    }
    .ImagIco {
        width: 35px;
        height: auto;
    }
    #rightPanel {
        background-color: aqua;
        float: right;
        position: relative;
        height: -webkit-fill-available;
        width: 20%;
        padding: 10px;
        visibility: hidden;
        z-index: 10;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-radius: 10px;
    }
    #leftPanel {
        background-color: aqua;
        float: left;
        position: relative;
        height: -webkit-fill-available;
        width: 5%;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        padding: 10px;
        z-index: 10;
        border-radius: 10px;
    }
</style>
<script>
    function sendToAsp()
    {
        var result = {
            XCoordinate: document.getElementById("XCoordinate").innerText,
            YCoordinate: document.getElementById("YCoordinate").innerText,
            HintContent: document.getElementById("Content").value,
            GeometryType : "Point",
            Preset: "islands#blueCircleIcon",
            BalloonContent: document.getElementById("Content").value,
            ClusterCaption : "Еще одна метка",
            Type: "Feature",
            Category: "Спорт"
        }

        var objectDataString = JSON.stringify(result);

        $.ajax({
            type: "POST",
            url: "Home/SendToAsp",
            dataType: "json",
            data: { jsn : objectDataString },
            success: function (data) {
                alert('Success');
            }
        });
    }

    function sendAndHide() {
        sendToAsp();
        document.getElementById("newPointForm").style.visibility = "hidden";
    }


</script>
<div id="map">
        
    <div id="newPointForm">
        <div id="XCoordinate" class="coordinatesBlock"></div>
        <div id="YCoordinate" class="coordinatesBlock"></div>
        <input type="text" id="Content" class="newPointFormInput formClass" />
        <input type="button" onclick="sendAndHide()" value="Send" id="createPoint" class="formClass" />
    </div>
    <div id="rightPanel">
        <div id="hintRightPanel"></div>
    </div>
    <div id="leftPanel">
        <div id="hintLeftPanel"></div>
        <p id="food" class="figIco">
            <img class="ImagIco" src="~/images/basketball.png" width="100" height="100" alt="">Спорт
        </p>
        <p id="food" class="figIco">
            <img class="ImagIco" src="~/images/basketball.png" width="100" height="100" alt="">Спорт
        </p>
        <p id="food" class="figIco">
            <img class="ImagIco" src="~/images/basketball.png" width="100" height="100" alt="">Спорт
        </p>
        <p id="food" class="figIco">
            <img class="ImagIco" src="~/images/basketball.png" width="100" height="100" alt="">Спорт
        </p>
        <p id="food" class="figIco">
            <img class="ImagIco" src="~/images/basketball.png" width="100" height="100" alt="">Спорт
        </p>
        <p id="food" class="figIco">
            <img class="ImagIco" src="~/images/basketball.png" width="100" height="100" alt="">Спорт
        </p>
        <p id="food" class="figIco">
            <img class="ImagIco" src="~/images/basketball.png" width="100" height="100" alt="">Спорт
        </p>
        <p id="food" class="figIco">
            <img class="ImagIco" src="~/images/basketball.png" width="100" height="100" alt="">Спорт
        </p>
    </div>
</div>
