@{
    ViewData["Title"] = "Home Page";
}
<environment include="Development">
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</environment>
<style>
    #map {
        width: 100%;
        height: 700px;
        margin: 0 !important;
        padding: 0;
    }

    .body-content {
        width: 100%;
        margin: 0 !important;
    }
    #newPointForm {
        width: 20%;
        
        padding: 0;
        position: fixed;
        z-index: 3;
        visibility: hidden;
        float: left;
        margin: 30% 40%;
        background-color: aqua;
    }
    .newPointFormInput {
        width: 100%;
    }
    .coordinatesBlock{
        display: none;
    }
    .formClass{
        
    }
    .figIco {
        text-align: center;
    }
    .ImagIco {
        width: 35px;
        height: auto;
    }
    #rightPanel {
        background-color: aqua;
        float: right;
        position: relative;
        height: -webkit-fill-available;
        width: 20%;
        padding: 10px;
        visibility: hidden;
        z-index: 10;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        border-radius: 10px;
        opacity: 0.4;
    }
    #leftPanel {
        float: left;
        position: relative;
        height: -webkit-fill-available;
        width: auto;
        padding: 7% 60px;
        z-index: 10;
        border-radius: 10px;
    }
    .btnLayer {
        width: 100% !important;
        height: auto !important;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    #createPoint{
        width: 100%;
    }
    #typeEvent {
        width: 100%;
    }
</style>
<script>
    function sendToAsp()
    {
        var result = {
            XCoordinate: document.getElementById("XCoordinate").innerText,
            YCoordinate: document.getElementById("YCoordinate").innerText,
            HintContent: document.getElementById("Content").value,
            GeometryType : "Point",
            Preset: document.getElementById("typeEvent").options[document.getElementById("typeEvent").selectedIndex].value,
            BalloonContent: document.getElementById("Content").value,
            ClusterCaption : "Еще одна метка",
            Type: "Feature",
            Category: document.getElementById("typeEvent").options[document.getElementById("typeEvent").selectedIndex].innerText
        }

        var objectDataString = JSON.stringify(result);

        $.ajax({
            type: "POST",
            url: "Home/SendToAsp",
            dataType: "json",
            async: false,
            data: { jsn : objectDataString },
            success: function (data) {
                alert('Success');
            }
        });
    }

    function sendAndHide() {
        sendToAsp();
        document.getElementById("newPointForm").style.visibility = "hidden";
        //$(this).delay(500).queue(function (next) { draw(); next(); });
        draw();
    }

    function layersCheck(layer) {
        var arr = layers.split(',');
        if (arr.indexOf(layer) == -1) {
            
            layers = layers + "," + layer;
        } else {
            
            delete arr[arr.indexOf(layer)];
            layers = arr.join(',');
        }
        
        draw();
    }
</script>
<div id="map">
        
    <div id="newPointForm">
        <div id="XCoordinate" class="coordinatesBlock"></div>
        <div id="YCoordinate" class="coordinatesBlock"></div>
        <input type="text" id="Content" class="newPointFormInput formClass form-control" />
        <select id="typeEvent">
            <option value="islands#blueRunCircleIcon">Спорт</option>
            <option value="islands#yellowEntertainmentCenterCircleIcon">Игры</option>
            <option value="islands#greenCircusCircleIcon">Мероприятия</option>
            <option value="islands#redBarCircleIcon">Вечер</option>
        </select>
        <input type="button" onclick="sendAndHide()" value="Send" id="createPoint" class="formClass btn btn-sm btn-primary" />
    </div>
    <div id="rightPanel">
        <div id="hintRightPanel"></div>
    </div>
    <div id="leftPanel">
        <div id="hintLeftPanel"></div>
        <p id="food" class="figIco">
            <button  class="btnLayer btn btn-lg btn-info" onclick="layersCheck('Спорт')">Спорт</button>
        </p>
        <p id="food" class="figIco">
            <button class="btnLayer btn btn-lg btn-warning" onclick="layersCheck('Игры')">Игры</button>
        </p>
        <p id="food" class="figIco">
            <button class="btnLayer btn btn-lg btn-success" onclick="layersCheck('Мероприятия')">Мероприятия</button>
        </p>
        <p id="food" class="figIco">
            <button class="btnLayer btn btn-lg btn-danger" onclick="layersCheck('Вечер')">Вечер</button>
        </p>
        
    </div>
</div>
